@font-face {
  font-family: 'RockSalt-Regular';
  src: local('RockSalt-Regular'),
    url('/fonts/RockSalt-Regular.woff2') format('woff2'),
    url('/fonts/RockSalt-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 90vh;
  background-color: #fc0624;
}

.greetingText {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: RockSalt-Regular;
  font-size: 55px;
}

/* .emoji {
  display: flex;
  justify-content: center;
  font-size: 80px;
  animation: dancingEmoji 3s infinite;
}
@keyframes dancingEmoji {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
} */
/* button .randomXmans {
  background-color: green;
  cursor: pointer;
} */
.musicController {
  display: flex;
  justify-content: center;
}

.playAndPause {
  background-color: #fc0624;
  border: none;
  cursor: pointer;
}
