@font-face {
  font-family: 'RockSalt-Regular';
  src: local('RockSalt-Regular'),
    url('/fonts/RockSalt-Regular.woff2') format('woff2'),
    url('/fonts/RockSalt-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: RockSalt-Regular;
  background-color: #fc0624;
}
button {
  background-color: green;
  cursor: pointer;
}

#icon {
  cursor: pointer;
}
