@font-face {
  font-family: 'RockSalt-Regular';
  src: local('RockSalt-Regular'),
    url('/fonts/RockSalt-Regular.woff2') format('woff2'),
    url('/fonts/RockSalt-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 90vh;
  background-color: #fc0624;
  position: relative;
}

.greetingText {
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: RockSalt-Regular;
  font-size: 40px;
}

.containerEmoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.emoji {
  display: inline-block;
  font-size: 80px;
}
.dance {
  animation-name: startposition, dancingEmoji;
  animation-duration: 1s, 4s;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 1s;
}
@keyframes startposition {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
@keyframes dancingEmoji {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

.musicController {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.playAndPause {
  background-color: #fc0624;
  border: none;
  cursor: pointer;
}
